@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$rosa;
    padding: 1rem 0;

    .contenido-footer{
        text-align: center;

        p{
            color: v.$blanco;
            font-size: 1.8rem;
            margin: 0;
        }
    }
}